@font-face {
  font-weight: 800;
  font-family: "NT Somic";
  src: url("www/fonts/NT_Somic/NTSomic-Bold.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "NT Somic";
  src: url("www/fonts/NT_Somic/NTSomic-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "NT Somic";
  src: url("www/fonts/NT_Somic/NTSomic-Regular.ttf");
}
h1, h2, h3, h4 {
  font-family: NT Somic;
  line-height: 120%;
  color: #353535;
}

h1, h2 {
  font-weight: 800;
}

h1 {
  font-size: 47px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

h4 {
  font-family: NT Somic;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #353535;
  font-family: NT Somic;
  line-height: 120%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  background-color: #F9F9F9;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.navi-container {
  z-index: 1000;
  display: flex;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  margin-top: 35px;
  white-space: nowrap;
  gap: 30px;
}

.navi {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 60px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #F9F9F9;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#order-btn {
  display: inline-flex;
  padding: 19px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  border: none;
  font-family: NT Somic;
  background: #46BF76;
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 600;
}

.logo-container {
  display: flex;
  padding-top: 235px;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  margin-bottom: 120px;
}

#logo-img {
  width: 17vw;
}

#hotel-word {
  width: 17vw;
}

#white-lotus-word {
  width: 56vw;
}

#motto-word {
  width: 37vw;
}

.about-us-container {
  width: 100%;
  display: flex;
  margin-top: 240px;
  margin-bottom: 120px;
  align-items: center;
  flex-direction: column;
}

.features-table {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.feature {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 302px;
  width: 31%;
  min-height: 255px;
  max-height: 260px;
  height: 100%;
  gap: 20px;
  border-radius: 30px;
  background: #F9F9F9;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.feature > img {
  height: 60px;
}

.txt-container {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 5px;
}

.txt-container > h3 {
  max-width: 400px;
}

.txt-container > a {
  text-decoration: underline;
  font-size: 18px;
  color: #A9A9A9;
}

.main-txt-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  word-wrap: normal;
}

footer {
  background-color: #46BF76;
  display: flex;
  width: 100%;
  height: 160px;
  justify-content: center;
  align-items: end;
  padding: 30px 0;
}

.footer-inner {
  max-width: 2573px;
  width: 100%;
  margin: 0px 14%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts-container > h3 {
  text-align: right;
  color: #F9F9F9;
}
@media screen and (max-width: 1120px) {
  .contacts-container > h3 {
    display: none;
  }
}

.copyright-container > h3 {
  color: #F9F9F9;
  text-wrap: nowrap;
}

.socmed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.rooms-container {
  width: 100%;
  display: flex;
  margin-top: 240px;
  margin-bottom: 120px;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

button {
  display: inline-flex;
  padding: 15px 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  border: none;
  background: #46BF76;
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  transition: box-shadow 0.2s ease;
  box-shadow: inset 0px -5px 7px rgba(0, 0, 0, 0.15);
}

button:active {
  transition: none;
  box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.15);
}

.room-info-block {
  width: 100%;
}

.room-info-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 60px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.slider-container {
  position: relative;
  width: 70%;
}

.slider-container > img {
  width: 100%;
  border-radius: 30px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #46BF76;
  border-radius: 17px;
  display: block;
  justify-content: center;
  top: 50%;
  margin-top: -25px;
}

.next {
  right: 0;
  margin-right: 10px;
  padding: 12px 16px 12px 14px;
}

.prev {
  margin-left: 10px;
  padding: 12px 16px 12px 14px;
}

.counter-container {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(65px);
          backdrop-filter: blur(65px);
  border-radius: 12px;
  padding: 7px 18px;
  bottom: 15px;
  left: 50%;
  margin-left: -45px;
  right: 50%;
}

.counter-dot {
  cursor: pointer;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #F9F9F9;
  display: block;
  float: left;
  margin: 0px 2px;
  transition: all 0.2s ease;
}

.active, .counter-dot:hover {
  width: 9px;
  height: 9px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-delay: 0s;
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.room-txt-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.room-descript-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-button-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */