/*---------------------------- COLORS variables ---------------------------*/
$white: #F9F9F9;
$accent-color: #46BF76;
$dark-color: #353535;
$grey-color: #A9A9A9;
$disabled-accent-color: #73CD97;


/*---------------------- SHADOWS & BORDERS variables ----------------------*/
$shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
$border-radius-h1: 60px;
$border-radius-h2: 30px;
$border-radius-buttons: 17px;
$blocks-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);



/*---------------------------- FONTS settings ----------------------------*/
@font-face {
  font-weight: 800;
  font-family: 'NT Somic';
  src: url("fonts/NT_Somic/NTSomic-Bold.woff2") format("woff2"),
  url("fonts/NT_Somic/NTSomic-Bold.otf") format("otf"),
  url("fonts/NT_Somic/NTSomic-Regular.ttf") format("ttf");

}
@font-face {
  font-weight: 600;
  font-family: 'NT Somic';
  src: url("fonts/NT_Somic/NTSomic-Medium.woff2") format("woff2"),
  url("fonts/NT_Somic/NTSomic-Medium.otf") format("otf"),
  url("fonts/NT_Somic/NTSomic-Medium.ttf") format("ttf");
}
@font-face {
  font-weight: 400;
  font-family: 'NT Somic';
  src: url("fonts/NT_Somic/NTSomic-Regular.woff2") format("woff2"),
  url("fonts/NT_Somic/NTSomic-Regular.otf") format("otf"),
  url("fonts/NT_Somic/NTSomic-Regular.ttf") format("ttf");
}

$main-font: "NT Somic";

h1,h2,h3,h4,h5 {
  font-family: $main-font;
  line-height: 120%;
  color: $dark-color;
}

h1,h2{
  font-weight: 800;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}

h4{
  font-size: 1rem;
  font-weight: 400;
}

h5{
  font-size: 1.5rem;
  font-weight: 400;
}

a{
  text-decoration: none;
  color: $dark-color;
  font-family: $main-font;
  line-height: 120%;
}



/*---------------------------- GENERAL settings ----------------------------*/
*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NT Somic";
}

body, html{
  position: relative;
  background-color: $white;
}

.container {
  width: 100%;
  margin: auto;
}


/*---------------------------- BUTTONS GENERAL settings ----------------------------*/
button {
  /*----Self----*/
  cursor: pointer;
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  padding: 15px 20px;
  background: $accent-color;
  border: none;
  border-radius: $border-radius-buttons;

  /*----Content----*/
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  box-shadow: inset 0px -5px 7px rgba(0, 0, 0, .15);
  transition: box-shadow .2s ease;
}

button:active {
  box-shadow: inset 0px 5px 7px rgba(0, 0, 0, .15);
  transition: none;
}


/*---------------------------- FADE ANIMATION settings ----------------------------*/
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade{
  from{opacity: .6;}
  to{opacity: 1;}
}
@keyframes fade{
  from{opacity: .6;}
  to{opacity: 1;}
}

/*---------------------------- MOBILE NAVIGATION settings ----------------------------*/
.mobile-navi-container {
  /*----Position---*/
  z-index: 1200;
  position: fixed;
  top:0;

  /*----Self---*/
  display: none;
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  background-color: rgba(70, 191, 118, 0);
  margin: auto;
  transition: .65s;
}

#mobile-navi-block{
  margin-top: 35px;
}

/*---- BURGER BUTTON ---*/
#burger-button{
  position: relative;
  width: 46px;
  height: 46px;
  background-color: $accent-color;
  border-radius: $border-radius-buttons;
  float:right; 
  clear:right;
}

#burger-item-top, #burger-item-center, #burger-item-down{
  position: absolute;
  transition: .65s;
}

#burger-item-center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#burger-item-top{
  top: 13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#burger-item-down{
  top: 33px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#burger-order-btn{
  height: 46px;
  display: block;
  transition: .65s;
}

/*---- MOBILE NAVIGATION LIST ---*/
#mobile-navi-list{
  display: none;
  margin-top: 30px;
  flex-direction: column;
  gap: 15px;
}
#mobile-navi-list > a{
  transition: .65s;
}



/*---------------------------- DESKTOP NAVIGATION settings ----------------------------*/
.navi-container {
  /*----Position---*/
  z-index: 1000;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  /*----Self---*/
  display: flex; // flex / none
  max-width: 1440px;
  width: 100%;
  margin-top: 35px;

  /*----Content---*/
  justify-content: space-between;
  white-space: nowrap;
  gap: 30px;
}

.navi-block{
  /*----Self---*/
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px 60px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: $shadow;
  
  /*----Content---*/
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.navi-block > a:hover > h4{
  color: $accent-color;
}

/*---- ORDER BUTTON ---*/
#order-btn{
  display: inline-flex;
  height: 59px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-buttons;
  border: none;
  font-family: $main-font;
  background: $accent-color;
  color: $white;
  padding: 0 19px;
  font-weight: 600;
}

/*---------------------------- FOOTER settings ----------------------------*/
footer{
  position: absolute;
 //bottom: -100px;

  /*----Self---*/
  display: flex;
  width: 100%;
  padding: 30px 0;
  background-color: $accent-color;

  /*----Content---*/
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
}

.footer-inner{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  
  /*----Content---*/
  justify-content: space-between;
  align-items: end;
  flex-wrap: nowrap;
}

/*---- FOOTER CONTENT ---*/
.footer-contacts-container{
  max-width: 338px;
  width: 100%;
}

.footer-contacts-container > h3{
  text-align: right;
  color: $white;
}

.copyright-container{
  max-width: 338px;
  width: 100%;
}

.copyright-container > h3{
  color: $white;
  text-wrap: nowrap;
}

.socmed-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.socmed-container > img{
  cursor: pointer;
}

/*---------------------------- GREETINGS block settings ----------------------------*/
.logo-container{
  /*----Self---*/
  display: flex;
  height: 100vh;

  /*----Content---*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

/*---- GREETINGS CONTENT ---*/
#logo-img {
  width: 17vw;
}

#hotel-word{
  width: 17vw;
}

#white-lotus-word{
  width: 56vw;
}

#motto-word{
  width: 37vw;
}

/*---------------------------- ABOUT US block settings ----------------------------*/
.about-us-container{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 87vh;
  padding: 120px 0;
  margin: auto;

  /*----Content---*/
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.features-table{
  /*----Self---*/
  display: flex;
  
  /*----Content---*/
  gap: 30px;
  flex-wrap: wrap;
}

.feature {
  /*----Self---*/
  display: flex;
  height: 260px;
  min-width: 338px;
  max-width: 705px;
  width: 100%;
  padding: 30px;
  border-radius: $border-radius-h2;
  background: $white;
  box-shadow: $shadow;

  /*----Content---*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
}

.feature > img{
  height: 35%;
}

.txt-container {
  /*----Self---*/
  display: flex;

  /*----Content---*/
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 5px;
}

.txt-container > h2{
  align-self: stretch;
  text-align: center;
}

.txt-container > h3{
  align-self: stretch;
  text-align: center;
}

.txt-container > a{
  text-decoration: underline;
  font-size: 18px;
  color: $grey-color;
}

.txt-container > a:hover{
  color: $accent-color;
}

.main-txt-container{
  /*----Self---*/
  display: flex;

  /*----Content---*/
  gap: 30px;
  flex-direction: column;
}

.paragraph-container{
  /*----Self---*/
  display: flex;

  /*----Content---*/
  flex-direction: column;
  gap: 15px;
  word-wrap: normal;
}



/*---------------------------- ROOMS block settings ----------------------------*/
/*---- ROOMS NAVIGATION BUTTNOS ---*/
.rooms-buttons-chain{
  display: flex;
  gap: 30px;
}

.rooms-button-chain-shadow{
  /*----Position---*/
  position: absolute;
  top: 205px;
  left: 29px;

  /*----Self---*/
  display: none;
  max-width: 557px;
  width: 100%;
  height: 50px;
  box-shadow: 45px 0px 25px -15px $white inset, -45px 0px 25px -15px $white inset;
  pointer-events: none;
}

.rooms-dot {
  background-color: $disabled-accent-color;
  transition: background-color .2s ease;
}

.rooms-dot.active {
  background-color: $accent-color;
}

/*-------------- PRICES --------------*/
.prices-table-container{
  /*----Position---*/
  z-index: 1001;
  position: fixed;
  top: 0;

  /*----Self---*/
  display: none; //flex
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .15);
  backdrop-filter: blur(5px);


  /*----Content---*/
  justify-content: center;
  align-items: center;  
}

.prices-table-block{
  /*----Self---*/
  display: flex;
  width: 600px;
  padding: 0 60px 55px 60px;
  border-radius: 30px 18px 30px 30px;
  background-color: $white;
  box-shadow: $blocks-shadow;

  /*----Content---*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.exit-button{
  /*----Position---*/
  position: relative;
  right: -278px;

  /*----Self---*/
  display: flex;
  padding: 11px 10px;

  /*----Content---*/
  justify-content: center;
  align-items: center;
}

.prices-table{
  /*----Self---*/
  display: flex;
  width: 100%;

  /*----Content---*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.month-price-container{
  /*----Self---*/
  display: flex;
  width: 100%;
  min-height: 100vh;

  /*----Content---*/
  justify-content: space-between;
  align-items: center;
}

.month-price-container > h3{
  font-weight: 800;
  font-size: 24px;
}

/*---- ROOM BLOCK ---*/
.rooms-container{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 87vh;
  padding: 120px 0;
  margin: 0 auto 0 auto;
  
  /*----Content---*/
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.room-info-container{
  width: 100%;
}

.room-info-block{
  /*----Self---*/
  display: flex;
  padding: 30px;
  border-radius: $border-radius-h1;
  box-shadow: $blocks-shadow;

  /*----Content---*/
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.slider-container{
  position: relative;
  width: 72%;
}

.slider-container > img{
  //min-width: 714px;
  width: 100%;
  border-radius: $border-radius-h2;
}

.prev, .next{
  /*----Position---*/
  position: absolute;
  top: 50%;

  /*----Self---*/
  display: flex;
  cursor: pointer;
  margin-top: -25px;
  background-color: $accent-color;
  border-radius: 17px;
  
  /*----Content---*/
  justify-content: center;
}

.next{
  right: 0;
  margin-right: 10px;
  padding: 12px 14px 12px 16px;
}

.prev{
  margin-left: 10px;
  padding: 12px 16px 12px 14px;
}

.counter-container{
  /*----Position---*/
  position: absolute;
  bottom: 15px;
  left: 50%;
  right: 50%;

  /*----Self---*/
  height: fit-content;
  width: max-content;
  padding: 7px 18px;
  margin-left: -45px;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(65px);
  border-radius: 12px;
}

.counter-dot{
  /*----Self---*/
  display: block;
  cursor: pointer;
  float: left;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0px 2px;
  background-color: $white;
  transition: all .2s ease;
}

.counter-dot.active, .counter-dot:hover{
  width: 9px;
  height: 9px;
}

.room-txt-container{
  display: flex;
  width: 23%;
  flex-direction: column;
  text-wrap: wrap;
  gap: 15px;
}

.room-descript-container{
  display: flex;
  min-width: 263px;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.order-button-container{
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: left;
  gap: 15px
}



/*---------------------------- REVIEWS block settings ----------------------------*/
.reviews-container{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 87vh;
  margin: auto;

  /*----Content---*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reviews-container > h1{
  position: absolute;
  top: 120px;
}

.reviews-block{
  /*----Self---*/
  display: flex;

  /*----Content---*/
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#reviews-prev-btn, #reviews-next-btn{
  position: static;
  margin: 0;
}

.review-card{
  /*----Self---*/
  display: flex;
  padding: 30px;
  box-shadow: $blocks-shadow;
  border-radius: $border-radius-h2;

  /*----Content---*/
  flex-direction: row;
  gap: 30px;
}

.rewiev-inner-container{
  /*----Self---*/
  display: flex;
  flex: 1 0 0;

  /*----Content---*/
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.reviews-navigation-mobile-container{
  display: none;
  flex-direction: row;
  gap: 30px;
}



/*---------------------------- GALERY block settings ----------------------------*/

.galery-container{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 87vh;

  /*----Content---*/
  padding: 240px 0 120px 0;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.galery-container > h1{
  position: absolute;
  top: 120px;
}

.galery-block{
  /*----Self---*/
  display: flex;
  max-width: 1200px;

  /*----Content---*/
  justify-content: space-between;
  align-items: center;
}

.galery-block > img {
  width: 80%;
  border-radius: $border-radius-h1;
  box-shadow: $blocks-shadow;
}

#galery-counter {
  /*----Position---*/
  position: static;
  bottom: 15px;
  left: 50%;
  right: 50%;

  /*----Self---*/
  height: fit-content;
  width: max-content;
  padding: 7px 18px;
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(65px);
  border-radius: 12px;
}



/*---------------------------- CONTACTS block settings ----------------------------*/
.contacts-container{
  /*----Self---*/
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 87vh;
  padding: 240px 0 120px 0;
  margin: auto;

  /*----Content---*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-container > h1{
  position: absolute;
  top: 120px;
}

.contacts-container > h1{
  position: absolute;
  top: 120px;
}

.contacts-block{
  /*----Self---*/
  display: flex;
  width: 100%;

  /*----Content---*/
  justify-content: center;
  align-items: start;
  gap: 45px;
}

.contacts-info-block{
  /*----Self---*/
  display: flex;
  align-self: stretch;
  max-width: 36%;
  width: 100%;
  height: fit-content;
  padding: 30px;
  border-radius: $border-radius-h2;
  box-shadow: $blocks-shadow;

  /*----Content---*/
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 20px;
}

.contacts-txt-container{
  /*----Self---*/
  display: flex;
  align-self: stretch;
  width: fit-content;

  /*----Content---*/
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.contacts-txt-container > h3{
  text-wrap: wrap;
}



/*---------------------------- WIFI PASSWORD OVERLAY settings ----------------------------*/
.password-cotainer{
  /*----Position---*/
  z-index: 1001;
  position: fixed;
  top: 0;

  /*----Self---*/
  display: none; //flex
  width: 100vw;
  height: 100vh;
  
  /*----Content---*/
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .15);
  backdrop-filter: blur(5px);
}

.password-block{
  /*----Self---*/
  display: flex;
  width: 235px;
  padding: 0 60px 55px 60px;
  background-color: $white;
  border-radius: 30px 18px 30px 30px;
  box-shadow: $blocks-shadow;

  /*----Content---*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;  
}

#password-exit-button{
  right: -95px;
}



//---------------------------- ADAPTIVITY settings ----------------------------
/*-------------- DESKTOP --------------*/
@media (max-width: 1720px) {

  .navi-container{
    max-width: 1720px;
    padding: 0 140px;
  }

  .about-us-container{
    max-width: 1720px;
    padding: 120px 140px;
  }

  .rooms-container{
    max-width: 1720px;
    padding: 120px 140px;
  }

  .reviews-container{
    max-width: 1720px;
    padding: 120px 140px;
  }

  .galery-container{
    max-width: 1720px;
    padding: 240px 140px 120px 140px;
  }

  .contacts-container{
    max-width: 1720px;
    padding: 120px 140px 120px 140px;
  }
}

/*-------------- LAPTOP L --------------*/
@media (max-width: 1536px){

  h1{
    font-size: 2.25rem;
  }

  h2{
    font-size: 1.125rem;
  }

  h3{
    font-size: 0.85rem;
  }

  h4{
    font-size: 0.75rem;
  }

  h5{
    font-size: 1.125rem;
  }

  button {
    font-size: 0.85rem;
  }

  #order-btn{
    height: 54px;
  }

  .rooms-container{
    max-width: 1336px;
    padding: 100px 140px;
  }

  .galery-container{
    max-width: 1100px;
    padding: 180px 140px 120px 140px;
  }

  .galery-container > h1{
    top: 100px;
  }

  .contacts-container{
    max-width: 1361px;
    padding: 180px 140px 120px 140px;
  }

  iframe{
    max-height: 565px;
  }

  .contacts-container > h1{
    top: 100px;
  }

  .footer-inner{
    max-width: 1720px;
    padding: 0 140px;
  }
}


/*-------------- LAPTOP M/S --------------*/
@media (max-width: 1336px) {

  .navi-container{
    display: none;
  }

  .mobile-navi-container{
    display: flex;
    padding: 0 140px;
  }

  .feature{
    min-width: 242px;
  }

  .rooms-container{
    max-width: 1361px;
    padding: 35px 140px 120px 140px;
  }

  .slider-container{
    width: 65%;
  }

  .galery-container{
    max-width: 1024px;
    padding: 120px 140px;
  }

  .galery-container > h1{
    top: 35px;
  }

  .contacts-container{
    padding: 120px 140px;
  }

  .contacts-container > h1{
    top: 35px;
  }
}

/*-------------- TABLETS --------------*/
@media (orientation: portrait) and  (max-width: 1336px) {
  .room-info-block{
    flex-direction: column;
  }

  .slider-container{
    width: 100%;
  }

  .room-txt-container{
    width: 100%;
    align-items: center;
  }

  .contacts-block{
    flex-direction: column;
  }

  iframe{
    max-width: 744px;
    width: 100%;
    max-height: none;
  }

  .contacts-info-block{
    max-width: 100%;
  }

  .footer-inner{
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    text-align: center;
  }

  .footer-contacts-container{
    max-width: 350px;
  }

  .footer-contacts-container > h3{
    text-align: center;
  }
}

@media (orientation: portrait) and  (max-width: 1024px) {
  .mobile-navi-container{
    padding: 0 30px;
  }

  .about-us-container{
    max-width: 1024px;
    padding: 120px 30px;
  }

  .footer-inner{
    padding: 0 30px;
  }

  .rooms-container{
    padding: 35px 30px;
  }

  .galery-container{
    padding: 120px 110px;
  }

  .reviews-container{
    padding: 120px 30px;
  }

  .contacts-container{
    padding: 120px 30px;
  }

  iframe{
    max-width: 992px;
    max-height: none;
  }
}

/*-------------- SMARTPHONES --------------*/

@media (orientation: portrait) and  (max-width: 645px)  {

  .mobile-navi-container{
    padding: 0 15px;
  }

  .about-us-container{
    padding: 120px 15px;
  }

  .footer-inner{
    padding: 0 15px;
  }

  .rooms-buttons-chain{
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    gap: 15px;
    margin: 0 15px;
  }

  .rooms-buttons-chain::-webkit-scrollbar{
    display: none;
  }

  .rooms-container{
    padding: 90px 15px 30px 15px;
    gap: 15px;
  }

  .room-info-block{
    padding: 10px;
    gap: 15px;
    border-radius: 30px;
  }

  .slider-container > img{
    border-radius: 20px;
  }

  #rooms-next-button {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    top: 0;
    padding: 0 10px 0 0;
    border-radius: 0;
    justify-content: flex-end;
  }

  #rooms-prev-button {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    top: 0;
    padding: 0 0 0 10px;
    border-radius: 0;
    justify-content: flex-start;
  }

  .reviews-container{
    padding: 90px 15px;
  }

  .reviews-block{
    gap: 10px;
  }

  #reviews-prev-btn{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: 0;
    content: url("/img/icons/buttons/prev-btn-accent.svg")
  }

  #reviews-next-btn{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: 0;
    content: url("/img/icons/buttons/next-btn-accent.svg")
  }
  #reviews-next-btn:hover, #reviews-prev-btn:hover{
    box-shadow: none;
  }

  .galery-container{
    padding: 90px 10px;
  }

  .galery-container > h1{
    top: 120px;
  }

  .galery-block > img{
    border-radius: 30px;
    width: 85%;
  }

  .contacts-container{
    padding: 160px 30px 30px 30px;
  }

  .contacts-container > h1{
    top: 100px;
  }

  .contacts-block{
    gap: 30px;
  }

  iframe{
    max-height: 400px;
  }
}

@media (orientation: portrait) and  (max-height: 860px){
  .contacts-container{
    padding: 160px 15px 30px 15px;
  }
  iframe{
    max-height: 200px;
  }
}
/*
@media (max-width: 1720px) {


  --------- About us ---------
  .about-us-container{
    padding: 120px 140px;
  }
  .navi-container{
    padding: 0 140px;
  }
  .footer-inner{
    padding: 0 140px;
  }


  /*--------- Rooms ---------
  .rooms-container {
    padding: 120px 140px;
  }
}

@media (max-width: 1536px){

  .feature {
    min-width: 332px;
  }
  .rooms-container{
    gap: 15px;
  }
}

@media (min-width: 1350px){
  .navi-container{
    display: flex;
    top: 35px; 
    left: 50%; 
    transform: translate(-50%, -50%)
  }
}

@media (max-width: 1349px){
  //About us page
  .mobile-navi-container{
    display: flex;
    padding: 0 140px;
  }
  .copyright-container > h3, .footer-contacts-container > h3{
    max-width: 260px;
    text-wrap: wrap;
  }

  //Reviews page

  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.125rem;
  }
  h3{
    font-size: 0.85rem;
  }
  h5{
    font-size: 1.125rem;
  }
  button{
    font-size: 0.85rem;
  }
}

@media (max-width: 1336px) {
  .rooms-container{
    padding: 40px 140px;
  }
}

@media (max-width: 1280px) {
  .feature {
    min-width: 313px;
  }
}

@media (max-width: 1109px) {
  .feature{
    min-width: 355px;
  }
}

@media (max-width: 1024px) {
  //About us page
  .footer-inner{
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .copyright-container > h3, .footer-contacts-container > h3{
    max-width: none;
    text-wrap: nowrap;
    text-align: center;
  }
}

@media (max-width: 900px) {
  //About us page
  .about-us-container{
    max-width: 900px;
    padding: 30px;
    margin: 240px 0 120px 0;
  }
  .mobile-navi-container{
    max-width: 900px;
    padding: 0 30px;
  }
  .footer-inner{
    padding: 0 30px;
  }
  #logo-img{
    width: 25vw;
  }
  #hotel-word{
    width: 25vw;
  }
  #white-lotus-word{
    width: 92vw;
  }
  #motto-word{
    width: 65vw;
  }

  .reviews-container{
    max-width: 900px;
    padding: 0 30px 120px 30px;

  }

  //Rooms page
  .rooms-container{
    max-width: 900px;
    padding: 120px 30px;
  }

  //Reviews page
}

@media (max-width: 768px) {

  .feature{
    border-radius: 22.5px;
  }
  .room-info-container{
    border-radius: 45px;
    padding: 22.5px;
  }
  .slider-container > img{
    border-radius: 22.5px;
  }
}

@media (max-width: 645px) {
  .rooms-buttons-chain{
    overflow-x: scroll;
    width: 100%;
    margin: 0 30px;
  }
}

@media (max-width: 500px) {
  //About us page
  .about-us-container{
    padding: 15px;
  }
  .mobile-navi-container{
    max-width: 500px;
    padding: 0 15px;
  }
  .footer-inner{
    padding: 0 15px;
  }
  .copyright-container > h3, .footer-contacts-container > h3{
    max-width: 260px;
    text-wrap: wrap;
  }

  //Rooms page
  .rooms-container{
    max-width: 500px;
    padding: 120px 15px;
  }

  .rooms-buttons-chain{
    overflow-x: scroll;
    width: 100%;
    margin: 0;
  }

  //Reviews page
}

@media (max-width: 425px) {
  .next, .prev {
    border-radius: 12.75px;
  }
  .next{
    padding: 9px 11.25px 6px 12px;
  }
  .prev{
    padding: 9px 12px 6px 11.25px;
  }
  .counter-dot{
    width: 5.25px;
    height: 5.25px;
  }
  .counter-dot.active{
    width: 6.75px;
    height: 6.75px;
  }
}

@media (max-width: 385px) {

  .feature{
    min-width: 302px;
  }

}*/
